<!-- Style sidenav: height 100% when gt-sm -->
<md-sidenav md-component-id="left-nav" md-is-locked-open="$mdMedia('gt-sm')" class="sidenav md-sidenav-left">
    <md-content layout="column">

<!--        <md-button href="/dashboard" layout="row" layout-align="start center"-->
<!--                   ng-class="{active: ('dashboard' | routeSegmentContains)}"-->
<!--                   ng-click="mainCtrl.closeSidenav('left-nav')">-->
<!--            <i class="material-icons">dashboard</i>{{::$i18n.page.dashboard.this}}-->
<!--        </md-button>-->

        <md-button href="/cases" layout="row" layout-align="start center"
                   ng-class="{active: ('cases' | routeSegmentContains)}"
                   ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('cases')">
            <i class="material-icons">storage</i>{{::$i18n.page.cases.this}}
            <span ng-if="mainCtrl.counters.cases">
                &nbsp;({{mainCtrl.counters.cases.display}})
            </span>
        </md-button>
        
        <md-button href="/listings" layout="row" layout-align="start center"
                   ng-class="{active: ('listings' | routeSegmentContains)}"
                   ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('listings')">
            <i class="material-icons">list</i>{{::$i18n.page.listings.this}}
        </md-button>

        <md-button href="/filter" layout="row" layout-align="start center"
                ng-class="{active: ('filter' | routeSegmentContains)}"
                ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('filter')">
        <i class="material-icons">filter_alt</i>{{::$i18n.page.filter.this}}
        </md-button>
        
        <md-button href="/transactions" layout="row" layout-align="start center"
                ng-class="{active: ('transactions' | routeSegmentContains)}"
                ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('transactions')">
        <i class="material-icons">contactless</i>{{::$i18n.page.transactions.this}}
        </md-button>
        
        <md-button href="/payments" layout="row" layout-align="start center"
                ng-class="{active: ('payments' | routeSegmentContains)}"
                ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('payments')">
        <i class="material-icons">credit_card</i>{{::$i18n.page.payments.this}}
        </md-button>

        <md-button href="/mycases" layout="row" layout-align="start center"
                   ng-class="{active: ('mycases' | routeSegmentContains)}"
                   ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('mycases')">
            <i class="material-icons">account_box</i>{{::$i18n.page.mycases.this}}
            <span ng-if="mainCtrl.counters.cases">
                &nbsp;({{mainCtrl.counters.mycases.display}})
            </span>
        </md-button>

        <md-button href="/tasks" layout="row" layout-align="start center"
                   ng-class="{active: ('tasks' | routeSegmentContains)}"
                   ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('tasks')">
            <i class="material-icons">check_box</i>{{::$i18n.page.tasks.this}}
            <span ng-if="mainCtrl.counters.tasks">
                &nbsp;({{mainCtrl.counters.tasks.display}})
            </span>
        </md-button>

        <md-button href="/workflow" layout="row" layout-align="start center"
                   ng-class="{active: ('workflow' | routeSegmentContains)}"
                   ng-click="mainCtrl.closeSidenav('left-nav');mainCtrl.navigationClick('workflow')">
            <i class="material-icons">linear_scale</i>{{::$i18n.page.workflow.this}}
        </md-button>

        <md-button href="/console" ng-if="$user.hasAuthority('ROLE_ADMIN')" layout="row" layout-align="start center"
                   ng-class="{active: ('console' | routeSegmentContains)}"
                   ng-click="mainCtrl.closeSidenav('left-nav')">
            <i class="material-icons">developer_board</i>{{::$i18n.page.console.this}}
        </md-button>

        <div flex></div>

        <div layout="column" layout-align="center center" class="sidenav-copyright margin-bottom-default">
            <span>MSUS</span>
            <span>2019/2020</span>
        </div>

    </md-content>
</md-sidenav>