<div ng-cloak class="layout-rh-100">

    <md-tabs md-dynamic-height md-autoselect="true" md-border-bottom class="background-tabs">

        <md-tab md-on-select="adminCtrl.clearAll(); adminCtrl.usersTab.loadUsers()">

            <md-tab-label>
                {{::$i18n.page.console.users}}
            </md-tab-label>

            <md-tab-body>
                <md-content layout="column" layout-align="start" class="padding-2x color-bg-transparent">

                    <div flex layout-gt-xs="row" layout-xs="column">

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_users_user_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <div layout="column">

                                <div ng-init="usersUserListTab=adminCtrl.usersTab" ng-include="'views/app/lists/console_users_user_list.html'"></div>

                                <div layout="row" layout-align="center center" in-view="$inview&&adminCtrl.usersTab.loadUsers(true)">
                                    <md-progress-circular md-mode="indeterminate" ng-disabled="!adminCtrl.loading" class="progress-circular-stroke-primary-500" md-diameter="50"></md-progress-circular>
                                </div>

                            </div>

                        </div> <!-- ./column -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_users_role_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <div layout="column">

                                <div ng-init="usersRoleListTab=adminCtrl.usersTab" ng-include="'views/app/lists/console_users_role_list.html'"></div>

                            </div>

                        </div> <!-- ./column -->

                    </div>

                </md-content>
            </md-tab-body>

        </md-tab>

    </md-tabs>

</div>